name: "Build"

on:
  push:
    branches:
      - main
    paths-ignore:
      - "**/*.md"
      - "**/*.gitignore"
      - "**/*.gitattributes"
      - "src/Tests/**"
  pull_request:
    branches:
      - main
    paths-ignore:
      - "**/*.md"
      - "**/*.gitignore"
      - "**/*.gitattributes"
      - "src/Tests/**"
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
      DOTNET_NOLOGO: true
      DOTNET_GENERATE_ASPNET_CERTIFICATE: false
      DOTNET_ADD_GLOBAL_TOOLS_TO_PATH: false
      DOTNET_MULTILEVEL_LOOKUP: 0
      DOTNET_SYSTEM_CONSOLE_ALLOW_ANSI_COLOR_REDIRECTION: true
      TERM: xterm

    steps:
      - uses: actions/checkout@v6

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.101
      - name: release-notes
        run: |
          releaseNotes = "release-notes=Added Edit-DotnetProject Cmdlet supporting the following properties:
          - AppendTargetFrameworkToOutputPath
          - AssemblyName
          - GenerateDocumentationFile
          - IntermediateOutputPath
          - LangVersion
          - Nullable
          - OutputType
          - OutputPath
          - RestorePackagesWithLockFile
          - TargetFramework
          - Version
          - VersionPrefix
          - VersionSuffix
          As well as InternalsVisibleTo AssemblyAttribute/SupressMessageAttribute.
          "
          echo "$releaseNotes" >> $GITHUB_OUTPUT

      - name: Restore
        run: dotnet restore src

      - name: Build
        run: dotnet build src -c Release --no-restore

      - name: Test
        run: dotnet test src -c Release --no-build


