name: "Build"

on:
  push:
    branches:
      - main
    paths-ignore:
      - "**/*.md"
      - "**/*.gitignore"
      - "**/*.gitattributes"
      - "src/Tests/**"
  pull_request:
    branches:
      - main
    paths-ignore:
      - "**/*.md"
      - "**/*.gitignore"
      - "**/*.gitattributes"
      - "src/Tests/**"
  workflow_dispatch:

jobs:
  determine-release-notes:
    name: Determine Release Notes
    runs-on: ubuntu-latest
    outputs:
      release-notes: ${{ steps.release-notes.outputs.release-notes }}
    permissions:
      contents: write  # to be able to publish a GitHub release
    steps:
      - name: Determine release notes
        id: release-notes
        run: |
          echo "release-notes=Update to support .NET 1.0.102 change in sln/slx default." >> $GITHUB_OUTPUT

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: determine-release-notes
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
      DOTNET_NOLOGO: true
      DOTNET_GENERATE_ASPNET_CERTIFICATE: false
      DOTNET_ADD_GLOBAL_TOOLS_TO_PATH: false
      DOTNET_MULTILEVEL_LOOKUP: 0
      DOTNET_SYSTEM_CONSOLE_ALLOW_ANSI_COLOR_REDIRECTION: true
      TERM: xterm

    steps:
      - uses: actions/checkout@v6

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.101

      - name: Report release notes
        run: echo '${{ needs.determine-release-notes.outputs.release-notes }}'

      - name: Restore
        run: dotnet restore src

      - name: Build
        run: dotnet build src -c Release --no-restore

      - name: Test
        run: dotnet test src -c Release --no-build


